@{
    Layout = null;
}
@model string?

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaxiManager.styles.css" asp-append-version="true" />
</head>
<body>
    <main class="container">
        <div class="d-flex justify-content-center">
            <form method="post">
                <h1 class="display-2">Login to Taxi Manager</h1>
                @if (Model == "invalid_credentials")
                {
                    <div class="p-2">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error:</strong> Username or Passowrd is incorrect.
                        </div>
                    </div>
                }
                @if (Model == "invalid_input")
                {
                    <div class="p-2">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error:</strong> Username and Password must not be empty.
                        </div>
                    </div>
                }
                <div class="p-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="username" />
                </div>
                <div class="p-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" />
                </div>
                <button type="submit" class="btn btn-primary m-2">Login</button>
            </form>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
