@model Car

<div class="card">
    <div class="card-header">
        <h2 class="card-title display-3">Delete car</h2>
    </div>
    <div class="card-body">
        <div class="container-lg">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Model" class="form-label"></label>
                    <input asp-for="Model" class="form-control" disabled />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LicensePlate" class="form-label"></label>
                    <input asp-for="LicensePlate" class="form-control" disabled />
                    <span asp-validation-for="LicensePlate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LicenseExpDate" class="form-label"></label>
                    <input asp-for="LicenseExpDate" type="date" class="form-control" disabled />
                    <span asp-validation-for="LicenseExpDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-danger">Delete car</button>
                    <a asp-controller="Car" asp-action="Index" class="btn btn-secondary">Go back</a>
                </div>
            </form>
        </div>
    </div>
</div>
